dist/*
.venv/*
**/__pycache__/*
pisense_backend.egg-info/*
.python-version
.nox/*
.pytest_cache/*
docker/db_data/*
**/.env
**/.cache.sqlite
build/*
.vscode/*
pisense_backend.egg.info/*
*.pyc
.testvenv/*
